{% comment %}
Variables in use: 
    desktop
    mobile
    hide_class
    image_alignment
    image_size
    img_src
    hed
    content
{% endcomment %}
<!--
/snippets/info-box.liquid

LIQUID VARS
desktop: {{ desktop }}
mobile: {{ mobile }}
hide_class: {{ hide_class }}
image_alignment {{ image_alignment }}
image_size: {{ image_size }}
img_src: {{ img_src }}
hed: {{ hed }}
content: {{ content }}
-->

{% case image_size %}
  {% when "one-quarter" %}
    {% assign content_size = "three-quarters" %}
  {% when "one-third" %}
    {% assign content_size = " two-thirds" %}
  {% when "one-half" %}
    {% assign content_size = "one-half" %}
{% endcase %}

{% case image_alignment %}
  {% when "left" %}
    {% assign content_alignment = "right" %}
  {% when "right" %}
    {% assign content_alignment = "left" %}
{% endcase %}


<div class="content {{mobile}}clear {{ content_alignment }} {{ content_size }} {{ mobile }}one-whole">
  <h3 class="hed">{{ block.settings.hed }}</h3>
  <p class="lede body excerpt">{{ block.settings.content }}</p>
</div>

<figure class="{{ image_alignment }} {{mobile}}clear {{ image_size }} {{ hide_class | prepend: mobile | default: 'small--one-whole'}}">
  <img width="100%" src="{{ img_src | img_url: 'large' }}" />
</figure>


