{% comment %}
Featured product carousel
For settings go to Admin -> Theme -> Customize Theme -> Home page
{% endcomment %}
{% assign autoplay = 0 %}
{% if section.settings.autoplay != blank %}
  {% assign autoplay = section.settings.autoplay %}
{% endif %}

{% if section.settings.featured_collection != blank %}
  <!-- Swiper -->
  <div class="swiper-container carousel carousel--homepage has-featured-collection" data-autoplay="{{ autoplay }}">
    <h2 class="featured-collection-title">{{ section.settings.featured_collection_title }}</h2>
    <div class="swiper-wrapper">
      {% for product in collections[section.settings.featured_collection].products %}

      {%- unless forloop.last -%}
      {% comment %}
        If we are NOT on the last item of the loop, which **should** be the promo item...
        This variable gets passed in to the snippet
      {% endcomment %}
        {% capture product_caption %}{{ section.settings.product_quantity_desc }}{% endcapture %}
      {% else %}
      {% comment %}
        If we are on the promo item, then assign the promo description
      {% endcomment %}
        {% capture product_caption %}{{ section.settings.promo_desc }}{% endcapture %}
      {%- endunless -%}

        <div class="swiper-slide" data-img-bg="{% if product.featured_image.size > 0 %}{{ product.featured_image | img_url: 'grande'}}{% else %}{{ 'img_no_image.png' | asset_url }}{% endif %}">
          {% include 'product-item-grid' %}
        </div>
      {% endfor %}

    </div>

   {% if section.settings.featured_collection.product_count >= 4 %}
   <div class="carousel__navigation">
      <!-- Add Arrows -->
      <div class="homepage-swiper-btn-next carousel-button-next">
        <span class="icon icon--arrow-right"></span>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-active-slide"></div>

      <div class="homepage-swiper-btn-prev carousel-button-prev">
        <span class="icon icon--arrow-left"></span>
      </div>
    </div>
    {% endif %}
  </div>
{% else %}
  <!-- Swiper -->
  <div class="swiper-container carousel carousel--homepage" data-autoplay="{{ autoplay }}">
      <h2 class="featured-collection-title">{{ section.settings.featured_collection_title }}</h2>
    <div class="swiper-wrapper">
      {% for i in (1..6) %}
        <div class="swiper-slide" data-img-bg="">

          <div class="product grid--in-row">
          	<a  class="product__link" href="" title="">
              <div class="img-holder img-holder--product" style="display:block;">

                {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}

              </div>
            </a>
            <span class="">
              <span class="product__price"><span class="money">{{ "10" | money }}</span></span><br>

              {% if settings.collection_product_badge == 'price'%}
                {% if product.compare_at_price_min > product.price %}
                  <span class="product__compare-price"><span class="money">{{ product.compare_at_price_max | money }}</span></span>
                {% endif %}
              {% endif %}
            </span>

            {% if settings.collection_product_badge == 'badge' and product.compare_at_price_min > product.price %}
              <span class="product__badge">{{ 'products.general.sale_badge_text' | t }}</span>
            {% endif %}


            <div class="product__info">
              <h4 class="product__title"><a href="" title="product title">{{ product.title | default: "Product Name" | truncatewords: 4 }}</a></h4>
              <h6 class="product__quantity-desc">{{ section.settings.product_quantity_desc }}</h6>
              <!--<h6 class="product__quantity-desc">{{ section.settings.promo_desc }}</h6>-->

              <span class="product__spec">
              <span class="product__price"><span class="money">{{ "10" | money }}</span></span><br>
                Product type &nbsp;|&nbsp;In stock&nbsp;|&nbsp;Big
              </span>
            </div> <!-- End product__info -->
          </div> <!-- End product -->

        </div>
      {% endfor %}

    </div>

   <div class="carousel__navigation">
      <!-- Add Arrows -->
      <div class="homepage-swiper-btn-next carousel-button-next">
        <span class="icon icon--arrow-right"></span>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-active-slide"></div>

      <div class="homepage-swiper-btn-prev carousel-button-prev">
        <span class="icon icon--arrow-left"></span>
      </div>
    </div>
  </div>
  {% include 'fallback-msg' with 'To set up Product Carousel section, please, visit your <a class="text-link--inverse" href="/admin/themes/{{ theme.id }}/settings">Customize theme page</a>' %}
{% endif %}

{% schema %}
  {
    "name": "Product Carousel",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection",
        "info": "All products from this collection will be used to make slide in the product carousel"
      },
      {
        "type": "text",
        "id": "autoplay",
        "label": "Time for changing slides",
        "info": "If this parameter is not specified, autoplay will be disabled. The value should be in milliseconds"
      },
      {
        "type": "text",
        "id": "featured_collection_title",
        "label": "Headline",
        "info": "Displayed above the featured collection",
        "default": "Shop our snacks..."
      },
      {
        "type": "text",
        "id": "product_quantity_desc",
        "label": "Product Quantity Description",
        "info": "Displayed below the Product Title and above the price",
        "default": "12 Rounds total (6 packs of 2)"
      },
      {
        "type": "text",
        "id": "promo_desc",
        "label": "Promo Product Description",
        "info": "Displayed in the third item, below the promo product title",
        "default": "three new, exciting flavors!"
      }
    ],
  	"presets": [
      {
        "name": "Feature Collection",
        "category": "Collections"
      }
    ]
  }
{% endschema %}
