	{%- if section.settings.color_header_bg -%}
		<style>
		@media (min-width: 769px) {
		  .header {
				background-color: {{-section.settings.color_header_bg-}};
			}
		}
		</style>
  {%- endif -%}

	{% if section.settings.fixed_bar_enable %}
      {% include 'additional-mobile-menu' %}
  {% endif %}

  {% assign current_page_title = page_title | handle %}

	{% comment %}
    Snippet for header with navigation and shopping cart
    For setting go to Admin -> Theme -> Customize Theme -> Header
    {% endcomment %}
    <header class="header header--fixed-off
		{% if template == 'index' and section.settings.transparent_home_enable %}header--clear{% endif %}
		{% if template == 'product' and product.featured_image.size > 0 %} header--clear{% endif %}
		{% if current_page_title == 'landing-page' or template == 'cart' or section.settings.fixed_header == false %} header--fixed-off{% endif %}">

			<div class="header-wrapper">
        <!-- Header search form -->
        {% if settings.search_header_type == 'expanded' %}
          {% include '_header[search-expanded]' %}
        {% else %}
          {% include '_header[search-compact]' %}
        {% endif %}

        {% comment %} Dropdown for currency
        {% include 'currency-picker' %}{% endcomment %}

        <div class="logo-container">
          <!-- Store description -->
          {% if settings.header_store_description_left != blank %}
            <span class="store-desc">{{ settings.header_store_description_left }}</span>
          {% endif %}
          <!-- End store description -->

          {% include 'logo' %}

          <!-- Store description -->
          {% if settings.header_store_description_right != blank %}
            <span class="store-desc">{{ settings.header_store_description_right }}</span>
          {% endif %}
          <!-- End store description -->
        </div>

        <!-- *** Menu *** -->
        <button id="main-nav-open-btn" class="main-nav-open-btn" type="button">
          <span class="icon icon--hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="fallback-text">{{ 'layout.menu.open_menu' | t }}</span>
        </button>
        <nav id="main-nav" class="drawer drawer--left-side drawer--menu close">

          <!-- Store description -->
          {% comment %}{% unless section.settings.header_mobile_logo_disable %}
            {% if section.settings.header_store_description_left != blank or section.settings.header_store_description_right != blank %}
              <span class="store-desc store-desc--mobile">{% if section.settings.header_store_description_left != blank %}{{ section.settings.header_store_description_left }}<br>{% endif %}{% if section.settings.header_store_description_right != blank %}{{ section.settings.header_store_description_right }}{% endif %}</span>
            {% endif %}
          {% endunless %}{% endcomment %}
          <!-- End store description -->

          <div class="drawer__wrapper">
            <div class="drawer__header">
              {% include 'logo' %}
              <button class="drawer__btn-close" type="button">
                <span class="icon icon--close"></span>
                <span class="fallback-text">{{ 'layout.menu.close_menu' | t }}</span>
              </button>
            </div> <!-- end drawer__header -->

            <ul class="nav-list">
              {% comment %}  Menu with submenu level 2 and level 3  {% endcomment %}

              {% assign mega_menu_item_handle = linklists[section.settings.mega_menu_linklist].title | handle %}

              {% for link in linklists.main-menu.links %}
                {% comment %}
                  assign the variable for marking active link
                  - https://ecommerce.shopify.com/c/ecommerce-design/t/current-page-menu-highlighting-help-26714
                {% endcomment %}
                {% assign active = false %}
                {% if template == 'index' and link.url == '/' %}
                  {% assign active = true %}
                {% elsif collection.url == link.url %} {% assign active = true %}
                {% elsif blog.url == link.url %} {% assign active = true %}
                {% elsif page.url == link.url %} {% assign active = true %}
                {% elsif page_title == link.title %} {% assign active = true %}
                {% elsif template == 'list-collections' and link.url == '/collections' %}
                  {% assign active = true %}
                {% elsif page_title == 'products' and link.url == '/collections/all' %}
                  {% assign active = true %}
                {% elsif template == 'article' and link.url == article.url %}
                  {% assign active = true %}
                {% endif %}

                {% assign child_list_handle = link.title | handle %}
                {% assign second_level_menu = false %}
                {% assign third_level = false %}

                {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                  {% assign second_level_menu = true %}
                {% endif %}

                {% if second_level_menu %}
                  {% for child_link in linklists[child_list_handle].links %}

                    {% assign grand_child_list_handle = child_link.title | handle %}
                    {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
                      {% assign third_level = true %}
                    {% endif %}

                  {% endfor %}
                {% endif %}


                {% if second_level_menu %}

                  {% if child_list_handle == mega_menu_item_handle %}
                    {% assign nav_list_item_mega = true %}
                  {% endif %}

                  <li class="nav-list__item {% if active %}active{% endif %} has-dropdown {% if third_level == true %} has-dropdown--tertiary{% endif %} {% if nav_list_item_mega %} nav-list__item--mega {% endif %}">
                    <a class="nav-list__link" href="{{ link.url }}">{{ link.title }}</a>
                    <span class="icon--plus-small js-collapse"></span>

                    <!-- secondary menu level -->
                    <ul class="nav-list__dropdown {% unless third_level == true %}nav-list__dropdown--secondary{% endunless %}">

                    {% if nav_list_item_mega %}
                        {% for mega_list_item in linklists[section.settings.mega_menu_linklist].links limit:4 %} {% comment %} start second level menu for loop {% endcomment %}
                          {% if mega_list_item.type == "collection_link" %}
                            <li class="nav-list__item nav-list__item--add">
                              <a class="nav-list__link" href="{{ mega_list_item.object.url }}">
                                <div class="img-holder img-holder--block nav-list__image">
                                  <img src="{{ mega_list_item.object.image.src | img_url: 'small' }}" alt="">
                                </div>
                                <h3 class="nav-list__title">{{ mega_list_item.object.title }}</h3>
                                <p class="nav-list__desc">{{ mega_list_item.object.description | truncatewords: 25 | strip_html }}</p>
                              </a>
                            </li>

                          {% endif %}
                          {% if mega_list_item.type == "product_link" %}
                            {% assign product = mega_list_item.object %}
                            {% capture product_caption %}{{ settings.product_grid_caption | default: "12 Rounds (6 packs of 2)" }}{% endcapture %}
                            <!-- {{ product.title }}-->
                            <!-- {{ product.url }}-->
                            <!-- {{ product.available }}-->
                            <li class="nav-list__item nav-list__item--add">{% include 'product-item-grid' %}</li>
{% comment %}
<!--                            <li class="nav-list__item nav-list__item--add">
                              <a class="nav-list__link" href="{{ mega_list_item.object.url }}">
                                <div class="img-holder img-holder--block nav-list__image">
                                  <img src="{{ mega_list_item.object.images[0].src | img_url: 'large' }}" alt="{{ mega_list_item.object.title }}" />
                                </div>
                                <h3 class="nav-list__title">{{ mega_list_item.object.title }}&nbsp;{{ mega_list_item.object.type }}</h3>
                                <p class="nav-list__desc">pack of 12 rounds, 6 2&ndash;packs</p>
                                <p class="nav-list__price price money">{{ mega_list_item.object.price | money }}</p>
                              </a>
                            </li>
-->
{% endcomment %}
                          {% endif %}

                        {% endfor %} {% comment %} end second level menu for loop {% endcomment %}

                    {% else %}
                        {% for child_link in linklists[child_list_handle].links %}

                          {% assign grand_child_list_handle = child_link.title | handle %}
                          {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}

                            <li class="nav-list__item has-dropdown">
                              <a class="nav-list__link" href="{{ child_link.url }}">{{ child_link.title }}</a>
                              <span class="icon--plus-small js-collapse"></span>
                              <!-- third menu level -->
                              <ul class="nav-list__dropdown">
                                {% for grand_child_link in linklists[grand_child_list_handle].links %}
                                  <li class="nav-list__item">
                                    <a class="nav-list__link" href="{{ grand_child_link.url }}">{{ grand_child_link.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                              <!-- end third menu level -->
                            </li>

                          {% else %}
                            <li class="nav-list__item">
                              <a class="nav-list__link" href="{{ child_link.url }}">{{ child_link.title }}</a>
                            </li>
                          {% endif %} {% comment %} end if statetment for third level menu {% endcomment %}

                        {% endfor %} {% comment %} end for loop second level menu {% endcomment %}


                    {% endif %}
                    </ul>
                    <!-- end secondary menu level -->
                  </li>

                {% else %}

                  <li class="nav-list__item {% if active %}active{% endif %}">
                    <a class="nav-list__link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>

                {% endif %}

              {% endfor %}

              <!-- Menu search  -->
              <li class="nav-list__item nav-list__item--search has-dropdown">
                <a class="nav-list__link" href="/search">{{ 'layout.search.heading' | t }}</a>
                <span class="icon--plus-small js-collapse"></span>
                <!-- Secondary menu level -->
                <ul class="nav-list__dropdown">
                  <li class="nav-list__item">
                    <div class="form-wrapper">
                      <form action="/search" method="GET" class="form form--inverse" role="search">
                        {% if settings.search_type == 'products' %}
                          <input type="hidden" name="type" value="product" />
                        {% endif %}
                        <div class="form__row">
                          <input type="text" name="q" class="form__field" placeholder="{{ 'layout.search.placeholder' | t }}" autocomplete="off">
                        </div>
                        <div class="form__row form__row--submit">
                          <input type="submit" class="btn btn--submit" value="{{ 'layout.search.button' | t }}">
                        </div>
                      </form>
                    </div>
                  </li>
                </ul>
                <!-- end secondary menu level -->
              </li>
              <!-- End menu search -->

              {% if settings.show_multiple_currencies == true %}
                <li class="nav-list__item nav-list__item--currency">
                  <a class="nav-list__link" href="javascript:void(0);">{{ 'layout.menu.currency' | t }}</a>
                  {% comment %}
                  Dropdown for currency
                  {% endcomment %}
                  {% include 'currency-picker' %}
                </li>
              {% endif %}

              <li class="nav-list__item nav-list__item--divider"></li>

              {% if shop.customer_accounts_enabled %}

                {% if customer %}
                  <li class="nav-list__item has-dropdown {% if template contains 'customers' %}active {% endif %}">
                    <a class="nav-list__link" href="/account">{{ 'layout.menu.view_account' | t }}</a>
                    <span class="icon--plus-small js-collapse"></span>
                    <!-- Secondary menu level -->
                    <ul class="nav-list__dropdown nav-list__dropdown--secondary">
                      <li class="nav-list__item">
                        <a class="nav-list__link" href="/account">{{ 'layout.menu.orders' | t }}</a>
                      </li>
                      <li class="nav-list__item">
                        <a class="nav-list__link" href="/account/addresses" title="{{ 'layout.menu.addresses' | t }}">{{ 'layout.menu.addresses' | t }}</a>
                      </li>
                      {% if settings.wishlist_enable %}
                        <li class="nav-list__item">
                          <a class="nav-list__link" href="/pages/wishlist" title="{{ 'layout.menu.wishlist' | t }}">{{ 'layout.menu.wishlist' | t }}</a>
                        </li>
                      {% endif %}
                      <li class="nav-list__item nav-list__item--logout-desktop">
                        <a class="nav-list__link" href="/account/logout"  title="{{ 'customer.login.logout' | t }}">{{ 'customer.login.logout' | t }}</a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-list__item nav-list__item--logout">
                    <a class="nav-list__link" href="/account/logout" title="{{ 'customer.login.logout' | t }}">{{ 'customer.login.logout' | t }}</a>

                  </li>
                {% else %}
                  <li class="nav-list__item nav-list__item--creat-account has-dropdown">
                    <a class="nav-list__link" href="#">{{ 'layout.menu.create_account' | t }}</a>
                    <span class="icon--plus-small js-collapse"></span>
                    <!-- Secondary menu level -->
                    <ul class="nav-list__dropdown">
                      <li class="nav-list__item">
                        <div class="form-wrapper">
                          {% form 'create_customer', class: 'form form--inverse form-validation' %}

                            <div class="form__row">
                              <label class="label-hide" for="first_name">{{ 'customer.general.first_name' | t }}</label>
                              <input class="form__field" id="first_name" type="text" value="" name="customer[first_name]" size="30" placeholder="{{ 'customer.general.first_name' | t }}">
                            </div>

                            <div class="form__row">
                              <label class="label-hide" for="last_name">{{ 'customer.general.last_name' | t }}</label>
                              <input class="form__field" id="last_name" type="text" value="" name="customer[last_name]" size="30" placeholder="{{ 'customer.general.last_name' | t }}">
                            </div>

                            <div class="form__row">
                              <label class="label-hide" for="email">{{ 'customer.general.email' | t }}</label>
                              <input class="form__field" id="email" type="email" value="" name="customer[email]" size="30" placeholder="{{ 'customer.general.email' | t }}">
                            </div>

                            <div class="form__row">
                              <label class="label-hide" for="password" class="login">{{ 'customer.general.password' | t }}</label>
                              <input class="form__field" id="password" type="password" value="" name="customer[password]" size="30" placeholder="{{ 'customer.general.password' | t }}">
                            </div>

                            <div class="form__row form__row--submit">
                              <button class="btn btn--submit" type="submit">{{ 'customer.registration.create_account_button' | t }}</button>
                            </div>

                          {% endform %}
                        </div>
                      </li>
                    </ul>
                    <!-- end secondary menu level -->
                  </li>

                  <li class="nav-list__item nav-list__item--login {% if template contains 'customers' %}active {% endif %}has-dropdown">
                    <a class="nav-list__link" href="/account/login">{{ 'customer.login.heading' | t }}</a>
                    <span class="icon--plus-small js-collapse"></span>
                    <!-- Secondary menu level -->
                    <ul class="nav-list__dropdown">
                      <li class="nav-list__item">
                        <div class="login-form">
                          <div class="form-wrapper form-wrapper--login">
                            {% form 'customer_login', class: 'form form--inverse form-validation' %}
                              {{ form.errors | default_errors }}

                              <div class="form__row">
                                <label class="label-hide" for="login_email">{{ 'customer.general.email' | t }}</label>
                                <input class="form__field" id="login_email" type="email" value="" name="customer[email]" size="30" placeholder="{{ 'customer.general.email' | t }}">
                              </div>

                              <div class="form__row">
                                <label class="label-hide" for="login_password">{{ 'customer.general.password' | t }}</label>
                                <input class="form__field" id="login_password" type="password" value="" name="customer[password]" size="16"  placeholder="{{ 'customer.general.password' | t }}">
                              </div>

                              <div class="form__row text-center">
                                <a class="text-link text-link--form js-forget-password" href="#" alt="{{ 'customer.login.forgot_password' | t }}">{{ 'customer.login.forgot_password' | t }}</a>
                              </div>

                              <div class="form__row form__row--submit">
                                <input type="submit" class="btn btn--submit" value="{{ 'customer.login.login_button' | t }}">
                              </div>

                            {% endform %}
                          </div>

                          <div class="form-wrapper form-wrapper--recover-password display-none">
                            {% form 'recover_customer_password', class: 'form form--inverse' %}
                              {{ form.errors | default_errors }}

                              <p class="form__info">{{ 'customer.recover_password.title' | t }}</p>

                              {% if form.posted_successfully? %}
                                {% assign reset_success = true %}
                              {% endif %}

                              <div class="form__row">
                                <label class="label-hide" for="email">{{ 'customer.recover_password.email' | t }}</label>
                                <input class="form__field" id="recover-email" type="email" value="" size="30" name="email" placeholder="{{ 'customer.recover_password.email' | t }}">
                              </div>

                              <div class="form__row form__row--submit">
                                <input type="submit" class="btn btn--submit" value="{{ 'customer.recover_password.button' | t }}">
                              </div>

                              <div class="form__row form__row--text text-center">
                                <button class="text-link text-link--form js-forget-password-cancel" type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
                              </div>

                            {% endform %}
                          </div>
                        </div>
                      </li>

                    </ul>
                    <!-- end secondary menu level -->
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </div> <!-- end drawer__wrapper -->
        </nav> <!-- end drawer -->
        <!-- *** End menu *** -->

        <!-- *** Shopping cart *** -->
				{% if section.settings.ajax_cart == "ajax" %}
				  <button id="cart-open-btn" class="cart-open-btn" type="button">
				{% else %}
					<a href="/cart" class="cart-open-btn">
				{% endif %}

          <span class="icon icon--cart">
						<svg width="45px" height="33px" viewBox="0 0 45 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <title>cart-icon</title>
						    <g id="CartIcon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						        <g id="Group-3">
						              <path d="M8.23853676,5.5309 C8.19041176,5.71215 8.14202941,5.8934 8.09364706,6.07465 C9.19408824,7.9414 10.1437206,9.91465 11.4394926,11.6434 C12.6274338,13.22865 13.990375,14.8259 16.4069191,14.7154 C18.7084265,14.6099 21.0155956,14.6194 23.3163309,14.50165 C25.1381324,14.40865 27.0363676,14.1709 28.0668088,12.50215 C29.1391985,10.7659 29.9879485,8.8899 30.8204853,7.0269 C31.2945294,5.9669 30.7798235,5.21215 29.6034632,5.08915 C28.8442721,5.01015 28.0662941,5.09015 27.2973235,5.1149 C23.0700441,5.2509 18.8435368,5.41415 14.6154853,5.5214 C12.4910368,5.5754 10.3642721,5.5309 8.23853676,5.5309 M11.4153015,21.84965 C14.1774706,21.84965 16.5204118,21.88115 18.8618088,21.8409 C21.1311471,21.80165 23.4002279,21.6154 25.6659632,21.6604 C26.2287941,21.67165 27.0626176,22.2139 27.2695294,22.71015 C27.6066618,23.51815 26.9807794,24.18865 26.1086103,24.3034 C23.8729853,24.5979 21.6219191,25.0104 19.3819191,24.98365 C16.3989412,24.94815 13.4169926,24.57765 10.44225,24.27815 C9.11713971,24.14465 8.54890441,23.2654 8.56769118,22.00415 C8.59934559,19.89465 9.63081618,18.18315 10.8671397,16.5549 C11.0907794,16.26015 11.3465882,15.98865 11.4932794,15.81665 C9.58577941,13.4139 7.69449265,11.1124 5.91335294,8.73315 C5.44085294,8.1019 5.16059559,7.25065 5.04864706,6.4659 C4.77508088,4.54865 3.41111029,3.1739 1.47324265,3.1059 C0.730007353,3.07965 -0.0973823529,2.9279 0.00916176471,2.1199 C0.0801911765,1.58165 0.723573529,0.89565 1.27636765,0.6844 C2.26872059,0.3054 3.40081618,-0.2516 4.44515441,0.63365 C5.03011765,1.12965 5.74247059,1.6089 6.06081618,2.2529 C6.90750735,3.9639 7.06963971,4.0824 9.10092647,3.93365 C12.1286838,3.71215 15.1654485,3.6029 18.1937206,3.38365 C21.9860735,3.1089 25.7719926,2.75365 29.5638309,2.4714 C30.6681324,2.38915 31.7999706,2.31365 32.8888309,2.45515 C34.5147868,2.6664 35.2001176,3.7749 34.5811838,5.20765 C33.2905588,8.19665 31.9250441,11.15665 30.5276176,14.1004 C29.4863676,16.2939 27.7814044,17.18315 25.1762206,17.10815 C21.5084265,17.00215 17.8267353,17.34465 14.1517353,17.5084 C13.9636103,17.5169 13.684125,17.59615 13.6112941,17.72815 C12.8948235,19.02465 12.2128382,20.33915 11.4153015,21.84965" id="Fill-1" fill="#002E48"></path>
						          </g>
						          <g id="Group-6" transform="translate(21.000000, 26.000000)">
						              <path d="M3.356136,0.031724 C5.516056,0.070924 6.872936,1.422764 6.836536,3.499524 C6.796496,5.767524 5.456696,7.009884 3.060736,7.000084 C1.375696,6.993084 0.095256,5.135004 0.143416,2.766484 C0.182896,0.836164 1.174376,-0.007756 3.356136,0.031724" id="Fill-4" fill="#002E48"></path>
						          </g>
						          <path d="M13.6121131,31.9999997 C11.6693708,32.000807 9.99213281,30.1961873 10.0000278,28.1138509 C10.0058759,26.6781744 11.0775421,25.9771553 13.2314011,26.0005674 C15.4288286,26.0242487 16.9741917,27.1754809 16.999631,28.8076042 C17.0271171,30.5748184 15.515673,31.9991924 13.6121131,31.9999997" id="Fill-7" fill="#002E48"></path>
						    </g>
						</svg>
					</span>
          <span id="cartCount" class="cart-count">0</span>
          <span class="fallback-text">{{ 'layout.cart.open_cart' | t }}</span>

				{% if section.settings.ajax_cart == "ajax" %}
				  </button>
				{% else %}
					</a>
				{% endif %}

        <div id="cart" class="drawer drawer--right-side drawer--cart close">
          <div class="drawer__wrapper">
            <div class="cart-wrapper">
              <div class="drawer__header">
                <h3 class="heading--add-small">{{ 'cart.general.heading' | t | upcase }}</h3>
                <!-- End shop logo -->
                <button class="drawer__btn-close btn" type="button">
                  <span>{{ 'layout.cart.close_cart' | t }}</span>
                </button>
              </div> <!-- end drawer__header -->

              <hr class="hr--clear">

              <div class="cart">
                <form action="/cart" method="POST" id="cart-form">

                    <div class="cart-header">
                      <div class="cart-header__item">
                        {{ 'cart.general.price' | t }}
                      </div>

                      <div class="cart-header__item">
                        {{ 'cart.general.quantity' | t }}
                      </div>
                    </div>

                    <ul class="cart-list">
                      {% for item in cart.items %}
                        <li class="cart-list__item">
                          <div class="cart-list__item--img clearfix">
                            <div class="img-holder img-holder--circle img-holder--circle-sm">
                              <a href="{{ item.product.url }}">

                                <img src="{% if item.product.featured_image.size > 0 %}{{ item.product.featured_image.src | product_img_url: 'small' }}{% else %}{{ 'img_no_image.jpg' | asset_url }}{% endif %}" alt="{{ item.title | escape }}">
                              </a>
                            </div>
                          </div>

                          <div class="cart-list__item--title">
                            <a href="{{ item.product.url | within: collection.all }}">{{ item.title | truncate: 20 }}</a>
                          </div>

                          <div class="cart-list__item--price">
                            <span class="money">{{ item.price | money }}</span>
                          </div>

                          <div class="cart-list__item--quantity">
                            <div class="quantity-field">
                              <span class="icon icon--arrow-up js-up-quantity"></span>
                              <input id="updates_{{ item.id }}" type="number" name="updates[]" min="1" value="{{ item.quantity }}" size="5">
                              <span class="icon icon--arrow-down js-down-quantity"></span>
                            </div>
                          </div>

                          <div class="cart-list__item--remove">
                            <a href="/cart/change?line={{ forloop.index }}&quantity=0">
                              <span class="icon icon--delete"></span>
                            </a>
                          </div>

                        </li>
                      {% endfor %}

                    </ul>

                    <div class="cart__block cart__package">
                      {% comment %}
                      Snippet for adding additional packing to cart.
                      For more information, visit:
                      - https://docs.shopify.com/manual/configuration/store-customization/page-specific/cart-page/ask-customer-for-more-information
                      {% endcomment %}
                      {% include 'adding-wooden-box' %}
                    </div>

                    <div class="cart__block cart__total clearfix">
                      <h3 class="heading--add-small">{{ 'cart.general.total' | t | upcase }}</h3>

                      <span class="cart-total">
                        <span class="money">{{ cart.total_price | money }}</span>
                      </span>

                      <a id="update-cart" class="update-cart" href="javascript:void(0);">
                        <span>{{ 'cart.general.update_cart' | t }}</span>
                        <span class="icon icon--refresh">
                          <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="19" viewBox="0 0 21 19">
                            <path d="M21.008,13.709 C21.076,14.311 20.717,14.884 20.205,14.988 C19.694,15.091 19.223,14.687 19.155,14.084 L19.000,13.670 C17.453,16.818 14.244,19.000 10.500,19.000 C6.491,19.000 3.069,16.513 1.674,13.000 L3.869,13.000 C5.127,15.378 7.623,17.000 10.500,17.000 C13.275,17.000 15.685,15.483 16.981,13.242 L16.340,13.524 C15.877,13.808 15.314,13.611 15.083,13.085 C14.852,12.559 15.041,11.903 15.504,11.619 L18.423,10.334 C18.559,10.181 18.721,10.058 18.918,10.018 C19.223,9.956 19.501,10.089 19.701,10.322 C19.722,10.342 19.737,10.372 19.757,10.395 C19.790,10.442 19.829,10.482 19.855,10.536 C19.882,10.579 19.918,10.610 19.940,10.659 C20.001,10.799 20.029,10.948 20.034,11.097 L21.008,13.709 ZM18.750,13.000 L18.579,12.539 L17.531,13.000 L18.750,13.000 ZM10.500,2.000 C8.067,2.000 5.911,3.162 4.543,4.959 C5.011,4.791 5.528,4.967 5.754,5.419 C6.003,5.918 5.800,6.540 5.301,6.809 L3.260,7.924 C3.103,8.127 2.882,8.280 2.620,8.327 C2.291,8.385 1.991,8.259 1.776,8.038 C1.752,8.019 1.737,7.991 1.715,7.969 C1.679,7.925 1.638,7.887 1.610,7.835 C1.581,7.795 1.541,7.765 1.518,7.719 C1.452,7.587 1.422,7.447 1.416,7.307 L0.367,4.880 C0.293,4.309 0.680,3.766 1.232,3.668 C1.784,3.570 2.291,3.953 2.364,4.524 L2.399,4.603 C4.061,1.854 7.052,-0.000 10.500,-0.000 C14.880,-0.000 18.558,2.968 19.656,7.000 L17.564,7.000 C16.533,4.089 13.764,2.000 10.500,2.000 Z"/>
                          </svg>
                        </span>
                      </a>

                      <p class="cart-total__info clearfix">{{ 'cart.general.total_information' | t }}</p>

                    </div>

                    <div class="cart__block cart__note form form--default">
                      <div class="form__row">
                        <label class="heading--add-small" for="{{ 'cart.general.note' | t | handle }}">{{ 'cart.general.note_heading' | t | upcase }}</label>
                      </div>
                      <div class="form__row">
                        <textarea class="form__field form__field--textarea" id="{{ 'cart.general.note_heading' | t | handle }}" name="attributes[{{ 'cart.general.note_heading' | t }}]" rows="10" placeholder="{{ 'cart.general.note_placeholder' | t }}"></textarea>
                        <label  class="form__field--placeholder" for="{{ 'cart.general.note_heading' | t | handle }}">{{ 'cart.general.note_placeholder' | t }}</label>
                      </div>
                      <div class="text-center cart__checkout-btn">
                        <button class="btn btn--default btn--full" type="submit" name="checkout">{{ 'cart.general.checkout_button' | t | upcase }}</button>
                      </div>
                    </div>

                    {% comment %}
                    Snippet for adding shipping calculator.
                    For more information, visit:
                    - https://docs.shopify.com/manual/configuration/store-customization/page-specific/cart-page/add-shipping-rates-calculator
                    {% endcomment %}
                    {% include 'shipping-calculator' %}

                    <div>
                      <span>{{rates.length}}</span>
                    </div>
                  </form>

                  <div class="cart-empty display-none">
                    <div class="cart-empty__wrapper">
                      <h5 class="heading--add-small">{{ 'cart.empty.heading' | t | upcase }}</h5>
                      <p class="cart-empty__info">{{ 'cart.empty.additional_information_html' | t }}</p>
                      <a class="btn btn--underlines" href="/collections/all" title="{{ 'cart.empty.button' | t }}">
                        {{ 'cart.empty.button' | t }}
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="61" height="12" viewBox="0 0 61 12">
                          <path d="M60.217,1.433 C45.717,2.825 31.217,4.217 16.717,5.609 C13.227,5.944 8.806,6.200 6.390,5.310 C7.803,4.196 11.676,3.654 15.204,3.216 C28.324,1.587 42.033,-0.069 56.184,0.335 C58.234,0.394 60.964,0.830 60.217,1.433 ZM50.155,5.670 C52.205,5.728 54.936,6.165 54.188,6.767 C39.688,8.160 25.188,9.552 10.688,10.943 C7.198,11.278 2.778,11.535 0.362,10.645 C1.774,9.531 5.647,8.988 9.175,8.551 C22.295,6.922 36.005,5.265 50.155,5.670 Z" class="cls-1"/>
                        </svg>
                      </a>
                    </div>
                  </div>

              </div> <!-- end cart -->
            </div> <!-- end cart -->
          </div> <!-- end drawer__wrapper -->
        </div> <!-- end drawer -->
        <!-- *** End shopping cart *** -->

      </div> <!-- end header-wrapper -->
    </header>

    {% schema %}
      {
        "name": "Header",
        "settings": [
          {
            "type": "header",
            "content": "Fixed header"
          },
          {
            "type": "checkbox",
            "id": "fixed_header",
            "label": "Enable sticky to top header on scroll",
            "default": true
          },
					{
            "type": "header",
            "content": "Fixed top bar for mobile"
          },
					{
						"type": "paragraph",
						"content": "Quick-to-reach navigation for featured collections. Analogue of visually enriched mega menu on desktop"
					},
          {
            "type": "checkbox",
            "id": "fixed_bar_enable",
            "label": "Show fixed top bar"
          },
          {
            "type": "checkbox",
            "id": "fixed_bar_search_enable",
            "label": "Show search icon"
          },
          {
            "type": "link_list",
            "id": "fixed_bar_links",
            "label": "Link lists",
            "info": "Choose featured link list among those created in Online Store > Navigation. 4 is a max number of links shown in this top bar"
          },
					{
            "type": "header",
            "content": "Shopping cart button"
          },
					{
						"type":      "radio",
		        "id":        "ajax_cart",
		        "label":     "Option to show after a click",
		        "options": [
		          { "value": "ajax", "label": "Ajax cart" },
		          { "value": "none", "label": "Cart page" }
		        ],
		        "default":   "ajax",
		        "info":      "Ajax option is a drawer cart layout with instant appearance on the screen, while cart page option is a typical page that requires loading time before being displayed for a user"
					},
          {
            "type": "header",
            "content": "Visually Enriched Mega Menu"
          },
					{
						"type":"paragraph",
						"content": "Desktop only mega menu for specific collections. More details how to set up mega menu is [here ](https://congruityhub.zendesk.com/hc/en-us/articles/115003522009)"
					},
		      {
            "type": "link_list",
            "id": "mega_menu_linklist",
            "label": "Main menu item",
						"info": "Main menu item defined in Online Store > Navigation to have a link list of collections to be shown as mega menu. 4 is a max number of links for such list"
          },

          {
            "type": "header",
            "content": "Header styling"
          },
          {
            "type": "checkbox",
            "id": "transparent_home_enable",
            "label": "Home page header background transparent",
            "default": true
          },
          {
             "type":"color",
             "id":"color_header_bg",
             "label":"Header background color"
          }
        ]
      }
    {% endschema %}
