{% comment %}
Special layout for 404 page and password page
- https://docs.shopify.com/themes/theme-development/templates/404-liquid
{% endcomment %}
{% layout none %}

<!doctype html>
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Meta Tags ================================================== -->
  {% include 'meta-tags' %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}

  {%- unless page_title contains shop.name -%}
    {%- if page_title != blank -%}
      &ndash; {{ shop.name }}
    {% else %}
      {{ shop.name }}
    {%- endif -%}
  {%- endunless -%}
  </title>

  <!-- CSS ================================================== -->
  {% include 'stylesheets' %}
  {% if settings.bg_img_404_page %}
    <style>
      .hero-img--404{
        background-image: url({{settings.bg_img_404_page | img_url: '3840x' }});
      }
    </style>
  {% endif %}
  <!-- Fonts ================================================== -->
  {% include 'google-fonts' %}

  <!-- Favicons ================================================== -->
  {% include 'favicon' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

</head>

<body id="{{ page_title | handle }}" class="alternative" >
  {% include 'main_open' %}
  <div class="page-404">
    <div class="hero-img hero-img--404">
      <div class="wrapper">
      <div class="grid">
        <div class="grid__item one-whole text-center">
          <div class="page-404__fallback">
            <h2 class="heading--page-xs">{{ '404.general.heading' | t }}</h2>
            <p>{{ '404.general.explanation' | t }}</p>
              {% comment %}
              Fallback linklist.
              For settings go to Admin -> Theme -> Customize Theme -> 404 page
              {% endcomment %}
              {% if settings.404_link_list_enable %}
                <ul class="link-list">
                  {% for link in linklists[settings.404_link_list].links limit:4 %}
                    <li class="link-list__item">
                      <a class="link-list__link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div> <!-- End page-404__fallback -->
        </div> <!-- End grid__item -->
      </div> <!-- End grid -->
    </div> <!-- End wrapper -->
  </div> <!-- End page-404 -->
  {% include 'main_close' %}

  </body>
</html>
