
<style>
  h1 { color: white; }
  .hero-image__desc { background-color: rgba(255,255,255,.5); }
  .hero-image .hero-image__content { top: 10%; }
</style>
<section class="hero-image clearfix" style="background-image: url({{ "2Betties-maple-cinnamon1.jpg" | asset_url }});">
  <div class="hero-image__content text-center">
      <h1 class="hero-image__title">2 Betties Development Site</h1>
      <p class="hero-image__desc">Hi, it looks like you've found where our developers play with new ideas! I'm sure you're looking for delicious snacks...</p>
      <a class="btn btn--default" href="https://2betties.com" title="2 Betties">Go to 2Betties.com</a>
  </div>
</section>

<!--
{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<h2>{{ 'general.password_page.opening_soon' | t }}</h2>

{% unless shop.password_message == blank %}
  <p>
    {{ shop.password_message }}
  </p>
{% endunless %}

{% form 'customer' %}

  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <ul class="form-success">
      <li>{{ 'general.password_page.signup_form_success' | t }}</li>
    </ul>
  {% else %}
    <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="email">
      {{ 'general.password_page.signup_form_email_label' | t }}
    </label>
    <input type="email"
      name="contact[email]"
      id="Email"
      spellcheck="false"
      autocomplete="off"
      autocapitalize="off"
      placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
    <button type="submit" name="commit" class="btn">
      {{ 'general.password_page.signup_form_submit' | t }}
    </button>
  {% endif %}
{% endform %}

{% if settings.share_facebook or settings.share_twitter %}
  <p>{{ 'general.password_page.spread_the_word' | t }}</p>
  {% include 'social-sharing' %}
{% endif %}

<a href="#Login">
  {% comment %}{% include 'icon-lock' %}{% endcomment %}
  {{ 'general.password_page.password_link' | t }} &rarr;
</a>
-->
